@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Staatliches&display=swap');
* {
  background-color: black;
}

Header {
  color: lime;
  font-family: 'Staatliches', cursive;
  text-align: center;
}

.App {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

img {
  border-radius: 30px;
}